footer {
    background-color: #ffc8dd ;
    div {
        div {
            div {
                p {
                    margin: 3px;
                    padding: 1px;
                }
            }
        }
    }
}