header {

    .navbar {

        background-color: #ffc8dd !important;

        div {
            a {
                h1 {
                    margin: 1px;
                    color: #023047;
                    text-align: center;
                    font-weight: 700;
                    font-size: 30px;
                    padding: 3px;
                }
            }
        }
    }
}