header {

    .navbar {

        background-color: $color-principal !important;

        div {
            a {
                h1 {
                    margin: 1px;
                    color: $letra;
                    text-align: center;
                    font-weight: 700;
                    font-size: 30px;
                    padding: 3px;
                }
            }
        }
    }
}