.index {
    background-image: url(../img/FONDO.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no;
    background-attachment: fixed;
    /* PARA QUE SE VEA TODO 70 PX ES LO QUE MIDE MI BARRA DE NAVEGACION */
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    .hero {
        color: $letra;
        margin: 1px;

        p {
            text-align: justify;
            margin: 1px;
            padding: 3px;
        }

    }

    .hero1 {
        display: grid;
        grid-template-rows: repeat(3, 33.3%);
        margin-top: 10px;

        div {
            div {
                div {
                    margin: 2px;
                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        margin: 2px;
                    }
                }
            }
        }
    }
    .parrafos{
        .descripcion{
            margin: 10px;
            margin-top: 50px;
        }
    }
    .secciones {
        justify-content: center;

        div {
            align-items: center;

            a {
                align-items: center;
            }

            div {
                div {
                    img {
                        width: 100%;
                        height: 160px;
                    }
                }
            }
        }
    }
}

main {
    margin-top: 71px;
    background-image: url(../img/FONDO.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no;
    background-attachment: fixed;

    a {
        text-decoration: none;
        color: $letra;
        @include bordes(1px, solid, #cdb4db);
        background-color: $botones;
        padding: 2px;
        margin-bottom: 5px;
        font-size: large;
        border-radius: 3px;
        margin: 1px;
    }

    div {

        .primeraseccion {
            margin-top: 10px;
            @extend %flex;

            div {

                @include bordes(1px, solid, #cdb4db);
                justify-content: space-around;

                label {

                    font-size: large;
                    color: $letra;
                    text-align: center;
                }

                select {
                    margin-bottom: 5px;
                }

                img {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }

    .seccionesblog {

        @include bordes(1px, solid, white);

        img {
            width: 50px;
            height: 50px;
        }
    }

    .seccionComentarios {
        border: 1px solid #cdb4db;

        img {
            width: 40px;
            height: 40px;
        }

        p {
            margin: 3px;
            padding: 1px;

        }
    }


    .Videos {

        label {
            font-size: large;
            color: $letra;
            text-align: center;
        }


    }

    .displayvideos {
        @extend %flex;

        iframe {
            margin-top: 10px;
            width: 200px;
            height: 200px;
        }
    }


    .nutricion {
        label {
            font-size: large;
            color: $letra;
            text-align: center;
        }

    }

    .fotosnutricion {
        margin-top: 10px;
        @extend %flex;

        div {
            width: 48%;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: 550px;
            }

            p {
                margin: 2px;
            }
        }



    }

    .productos {
        p {
            font-size: medium;
            color: $letra;
            margin: 2px;
            font-weight: 900;
        }

        div {
            margin-top: 1px;
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #cdb4db;
            padding: 1px;
            justify-content: space-around;

            div {
                border: 1px solid #cdb4db;
                align-items: center;

                img {
                    width: 200px;
                    height: 200px;
                    margin: 1px;
                }

                div {

                    .tarjetab {
                        margin: 2px;
                        width: 44.69px;
                        height: 32.33px;
                    }

                }
                .servi {
                    flex-direction: column;
                    .tarjetas{
                        margin: 2px;
                        width: 62.65px;
                        height: 37.33px;
                    }
                }
            }
        }
    }

    .iniciosesion {
        border: 1px solid #cdb4db;
        padding: 5px;

        form {
            margin: 5px;
        }

        a {
            margin: 2px;
            text-decoration: dotted;
            color: $letra;
            border: none;
            background-color: cornsilk;
            padding: 2px;
            margin-bottom: 5px;
            font-size: large;
            border-radius: 3px;
            margin: 1px;
        }
    }

    .bienvenida {
        border: 1px solid #cdb4db;
        padding: 5px;
    }
}