@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+IS:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}
$color-principal:#FFC6D9;
$color-secundario:#6b3e26;
$color-terciario:#c2f2d0;

$paleta-colores: #FFC6D9, #6b3e26 , #c2f2d0;

$mapa: (
    bg-color: grey,
    borderl: 5px red
);

//!EXTENDS

%flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

//! MIXINS

@mixin flex($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
} 

